{% extends '../annotation/base.html' %}
{% load static %}
{% block title %}SmartCow Task | Images Upload{% endblock %}
{% block bodyclass %}{% endblock %}
{% block bodycontainer %}{% endblock %}
{% block bodycard %}{% endblock %}
{% block content %}
{% include "annotation/navbar.html" %}

<div id="wrapper">
    <div id="content-wrapper">
      <div class="container-fluid">
        <h4>My Annotated</h4>
        <hr>
        <div class="row">
             {% for photo in photos %}
          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="">
              <div class="">
                <a href="/checkannotate/{{ photo.id }}"><img src="{{ photo.file.url }}" alt="{{ photo.file.name }}" height="200" width="300"></a>
              </div>
            </div>
          </div>
             {% endfor %}
        </div>

      </div>
    </div>
</div>
 {% endblock %}

{% block javascript %}
  {# JQUERY FILE UPLOAD SCRIPTS #}
{% endblock %}