{% extends '../annotation/base.html' %}
{% load custom_tag %}
{% block title %}SmartCow Task | Signup{% endblock %}

{% block content %}
  <div class="card-header">SmartCow Task Signup</div>
    <div class="card-body">
      <form method="post">
        {% csrf_token %}
        {% if form.errors %}
          <div style="color:#ff5a57; font-size:12px">
            {{ form.errors }}
          </div>
        {% endif %}
         {% for field in form %}
          <div class="form-group">
          <div class="form-label-group">
            {{ field | addclass:"form-control" }}
            <label>{{ field.label_tag }}</label>
          </div>
         </div>
        {% endfor %}
        <button class="btn btn-primary btn-block" type="submit">Sign up</button>
      </form>
      <div class="text-center">
        <a class="d-block small mt-3" href="/login">Login</a>
      </div>
    </div>
 </div>
{% endblock %}